.header {
    background-color:black;
}
.header img{
    width: 75px;
    height: 75px;
    margin-top: 13px;
    margin-block-end: 0%;
}
.header p{
    color: white;
    display: inline-block;
    margin-left: 8px;
    text-align: center;
    font-size: 30px;
}  